.terms-wrapper {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.terms-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.terms-main h1 {
  margin-bottom: 20px;
  text-align: center;
}

.terms-box {
  width: 80%;
  max-width: 350px;
  padding: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background: white;
}

.terms-box p {
  margin-bottom: 5px;
  margin-top: 7px;
  font-size: 10px;
  font-weight: lighter;
}

.terms-box button {
  align-self: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #2f4f6f;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.terms-box button:hover {
  background-color: #1d3a56;
}
